* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
    font-family: "SF Pro Text", " Myriad Set Pro", " SF Pro Icons", " Helvetica Neue", " Helvetica", " Arial", sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    height: 45px;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1400;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
}

.nav-list {
    List-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;


}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 12px;
    font-weight: 300;
    color: rgba(232, 232, 232, 0.825);
    padding: 0 8px;
    transition: color 0.5s;
}

.nav-link-apple {
    width: 1.6rem;
    background: url("images/icons/apple.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-search {
    width: 1.6rem;
    background: url("images/icons/search.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-bag {
    width: 1.6rem;
    background: url("images/icons/bag.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.iphone-14-pro {
    background: url("images/hero/iphone-14-pro/14pro.jpg") center no-repeat;

}

.title {
    color: #ffffff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading {
    font-weight: 600;
    letter-spacing: -1px;
    word-spacing: -5px;
    font-size: 53px;
    Line-height: 1.07143;
    /* Letter-spacing: -0.005rem; */
}

.title-sub-heading {
    font-size: 2.65rem;
    margin-top: 0.6rem;
    Letter-spacing: 0.008rem;
    font-weight: 400;
}

.title-price {
    font-size: 1.7rem;
    color: #ffffff;
    margin-top: 0.68rem;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link {
    color: #2997ff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid #2997ff;
}

.iphone-14 {

    background: url("images/hero/iphone-14/14.jpg") center no-repeat;

}

.watchUltra {
    background: url("images/hero/watch/watchUltra.jpg") center no-repeat;
}

.visuallyhidden {

    clip-path: inset(0px 0px 99.9% 99.9%);

}

.watchlogo {
    padding: 15px 0;
    height: 71px;

    background: url("images/hero/watch/hero_logo_apple_watch_ultra__etygmmkwgfma_largetall.png") center no-repeat;
}

.hero {
    height: 736px;
    background-size: auto 73.6rem;
}

#promo-cards {
    width: 48%;
    height: 640px;
    border: 10px solid white;
    display: inline-block;
    padding-left: px;

}

@media only screen and (max-width: 1085px) {
    #promo-cards {
        margin: -25px;
        width: 103%;
        border: none;
    }

}


.promo {
    color: #ffffff;
    text-align: center;
    padding-top: 5.5rem;
}

.promo-heading {
    font-size: 5.6rem;
    Line-height: 1.07143;
    Letter-spacing: -0.005rem;
}

.promo-sub-heading {
    font-size: 2.65rem;
    margin-top: 0.6rem;
    Letter-spacing: 0.008rem;
    font-weight: 400;
}



h2 {
    height: 100.96px;
}

.AirPods {

    background: url("images/promos/promo_airpods_pro_avail__gaxggskofx6y_large.jpg") center no-repeat;

}

.watch8logo {
    padding: 15px 0;
    height: 71px;

    background: url("images/promos/promo_logo_apple_watch_series_8__ee6riplsucuq_large.png")center no-repeat;
}

.series8 {

    background: url("images/promos/promo_apple_watch_series_8__ch7rexplmihe_large.jpg") center no-repeat;

}

.watchselogo {

    height: 60px;
    background: url("images/promos/promo_logo_apple_watch_se__b85vr9ri02gi_large.png")center no-repeat;
}

.watchse {
    background: url("images/promos/promo_apple_watch_se__f9702l6odgi2_large.jpg") center no-repeat;

}

.Fitnesslogo {

    height: 60px;
    background: url("images/promos/promo_logo_fitness_plus_iphone__dpayetemakq6_large.png")center no-repeat;
}

.Fitness {
    background: url("images/promos/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg") center no-repeat;
}

.m2logo {
    padding-top: 5px;
    height: 60px;
    background: url("images/promos/logo_promo_macbookair__hy9ktdqqtv2a_large.png")center no-repeat;
}

.mac {
    background: url("images/promos/promo_macbookair__fywl7i82fueu_large.png") center no-repeat;
}

.cardlogo {

    height: 60px;
    background: url("images/promos/logo__dcojfwkzna2q_large.png")center no-repeat;

}

.card {
    background: url("images/promos/tile__cauwwcyyn9hy_large.jpg") center no-repeat;
}

footer {
    font-weight: normal;
    text-size-adjust: 100%
}


footer * {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit
}

footer {
    display: block
}

footer ul {
    list-style: none
}

footer {

    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1
}




footer a {
    color: rgba(67, 67, 67, 0.856);
    text-decoration: none
}

footer a:hover {
    text-decoration: underline
}

footer .content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
}


footer .label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

footer .directory {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-top: 20px
}

footer .directory:last-child {
    padding-bottom: 28px
}

footer .directory-column {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%
}

footer .col-section {
    pointer-events: none
}

footer .col-section~.col-section {
    padding-top: 24px
}


footer .Title {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: .8em
}


footer .SectionList {
    margin-right: 20px;
    list-style: none;
    padding: 0
}


footer li {
    display: block;
    pointer-events: auto;
    margin-bottom: .8em
}


footer .SectionState {
    display: none
}




footer .store {
    max-height: 9999px;
    padding-bottom: 3px
}

footer .store a {
    color: #06c;
}

footer .store a:hover {
    color: #2997ff;
}

footer .copyright,
footer .footer-links {
    margin-right: 30px;
    float: left;
    margin-top: 5px
}


footer .copyright {
    max-height: 9999px
}

footer .footer-links {
    position: relative;
    top: -5px;
    z-index: 1
}

footer .footer-link {
    border-right: 1px solid;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 5px;
    white-space: nowrap
}

footer .footer-link:last-child {
    border: none;
    margin: 0;
    padding: 0
}

@media only screen and (max-width: 833px) {
    .nav-items-hidden {
        display: block;
        position: absolute;
        min-width: 20px;
        margin: auto;
        visibility: hidden;
    }

    .nav-link-apple {
        align-items: center;
        width: 1.6rem;
        background-image: url("images/icons/apple.svg") center no-repeat;
        height: 4.4rem;
    }

}