* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
    font-family: "SF Pro Text", " Myriad Set Pro", " SF Pro Icons", " Helvetica Neue", " Helvetica", " Arial", sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    height: 45px;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1400;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
}

.nav-list {
    List-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;


}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 12px;
    font-weight: 300;
    color: rgba(232, 232, 232, 0.825);
    padding: 0 8px;
    transition: color 0.5s;
}

@media only screen and (max-width: 833px) {
    .nav-items-hidden {
        display: block;
        position: absolute;
        min-width: 20px;
        margin: auto;
        visibility: hidden;
    }

    .nav-link-apple {
        align-items: center;
        width: 1.6rem;
        background-image: url("images/icons/apple.svg") center no-repeat;
        height: 4.4rem;
    }
}

.nav-link-apple {
    width: 1.6rem;
    background: url("images/icons/apple.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-search {
    width: 1.6rem;
    background: url("images/icons/search.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link-bag {
    width: 1.6rem;
    background: url("images/icons/bag.svg") center no-repeat;
    height: 4.4rem;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.iphone-14-pro {
    background: url("images/hero/iphone-14-pro/14pro.jpg") center no-repeat;

}

.title {
    color: #ffffff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading {
    font-weight: 600;
    letter-spacing: -1px;
    word-spacing: -5px;
    font-size: 53px;
    Line-height: 1.07143;
    /* Letter-spacing: -0.005rem; */
}

.title-sub-heading {
    font-size: 2.65rem;
    margin-top: 0.6rem;
    Letter-spacing: 0.008rem;
    font-weight: 400;
}

.title-price {
    font-size: 1.7rem;
    color: #ffffff;
    margin-top: 0.68rem;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link {
    color: #2997ff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid #2997ff;
}

.iphone-14 {

    background: url("images/hero/iphone-14/14.jpg") center no-repeat;

}

.watchUltra {
    background: url("images/hero/watch/watchUltra.jpg") center no-repeat;
}

.visuallyhidden {

    clip-path: inset(0px 0px 99.9% 99.9%);

}

.watchlogo {
    padding: 15px 0;
    height: 71px;

    background: url("images/hero/watch/hero_logo_apple_watch_ultra__etygmmkwgfma_largetall.png") center no-repeat;
}

.hero {
    height: 736px;
    background-size: auto 73.6rem;
}

.promo {
    color: #ffffff;
    text-align: center;

    padding-top: 5.5rem;
}

.promo-heading {
    font-size: 5.6rem;
    Line-height: 1.07143;
    Letter-spacing: -0.005rem;
}

.promo-sub-heading {
    font-size: 2.65rem;
    margin-top: 0.6rem;
    Letter-spacing: 0.008rem;
    font-weight: 400;
}



h2 {
    height: 100.96px;
}

.AirPods {
    width: 48%;
    height: 640px;
    border: 10px solid white;
    display: inline-block;
    background: url("images/promos/promo_airpods_pro_avail__gaxggskofx6y_large.jpg") center no-repeat;

}

.watch8logo {
    padding: 15px 0;
    height: 71px;

    background: url("images/promos/promo_logo_apple_watch_series_8__ee6riplsucuq_large.png")center no-repeat;
}

.series8 {
    width: 48%;
    height: 640px;
    border: 10px solid white;
    display: inline-block;
    background: url("images/promos/promo_apple_watch_series_8__ch7rexplmihe_large.jpg") center no-repeat;

}

.watchselogo {

    height: 60px;
    background: url("images/promos/promo_logo_apple_watch_se__b85vr9ri02gi_large.png")center no-repeat;
}

.watchse {
    width: 48%;
    height: 640px;
    border: 10px solid white;
    display: inline-block;
    background: url("images/promos/promo_apple_watch_se__f9702l6odgi2_large.jpg") center no-repeat;

}

.Fitnesslogo {

    height: 60px;
    background: url("images/promos/promo_logo_fitness_plus_iphone__dpayetemakq6_large.png")center no-repeat;
}

.Fitness {
    width: 48%;
    height: 640px;
    border: 10px solid white;
    display: inline-block;
    background: url("images/promos/promo-apple-fitness-plus-iphone__bzeal882mv7m_large.jpg") center no-repeat;
}

.m2logo {
    padding-top: 5px;
    height: 60px;
    background: url("images/promos/logo_promo_macbookair__hy9ktdqqtv2a_large.png")center no-repeat;
}

.mac {
    width: 48%;
    height: 640px;
    border: 10px solid white;
    display: inline-block;
    background: url("images/promos/promo_macbookair__fywl7i82fueu_large.png") center no-repeat;
}

.cardlogo {

    height: 60px;
    background: url("images/promos/logo__dcojfwkzna2q_large.png")center no-repeat;

}

.card {
    width: 48%;
    height: 640px;
    border: 10px solid white;
    display: inline-block;
    background: url("images/promos/tile__cauwwcyyn9hy_large.jpg") center no-repeat;
}